{% extends "blog/base.html" %}
{% block content %}
    {% for post in posts %}
        <article class="media content-section">
          <div class="media-body">
            
            <h2 class="text-center my-4">Name   : {{ post.name }}</h2>
            <p class="text-secondary text-center my-4">Email  : {{ post.email }}</p>
            <p class="text-secondary text-center my-4">Phone  : {{ post.phone }}</p>
            <div style='text-align:center'>
              
              <img  src="{{ post.image.url }}" class="img-fluid" alt="Responsive image" height="200" width="400">
            </div>
            <div style='text-align:center'>
            <video  controls="controls">
              <source src="{{post.video.url}}" type="video/mp4">
            </video>
          </div>
          </div>
        </article>
    {% endfor %}
{% endblock content %}